.header {
   background-color: #E0FFFF;
}

.appLogo {
   background-color: #E0FFFF;
   padding-top: 15px;
}

.title {
   vertical-align: middle;
}

.container {
	margin: 10% auto 10% auto;
	max-width: 600px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
